.wrapper {
  background-color: #fcfcfc;
  width: 100%;
  min-height: 100vh;
  font-family: var(--principal-font);
}

.section {
  width: 90rem;
  min-height: 87vh;
  background-color: #fcfcfc;
  padding: 2rem;
  margin: auto;

  display: flex;
  flex-flow: column wrap;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--titular-font);
    text-transform: uppercase;
    margin: 2rem 0 3rem;
  }
}