.footer {
  width: 100%;
  min-height: 5vh;

  &__rrss {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    & a:nth-child(1) svg:hover {
      fill: rgb(147, 1, 1);
    }

    & a:nth-child(2) svg:hover {
      fill: rgb(1, 6, 164);
    }

    & a:nth-child(3) svg:hover {
      fill: rgb(58, 173, 0);
    }
  }
}