.footer {
  width: 100%;
  min-height: 5vh;

  &__rrss {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    .rrss__icon:hover {
      fill: red;
    }
  }
}