.form {
  width: 20rem;
  background-color: antiquewhite;
  padding: 0.5rem;


  &__label {
    width: 100%;
    margin: 1rem 0;
  }

  &__input {
    width: 95%;
    padding: .5rem;
    margin-top: 0.4rem;
    border: 1px solid grey;
  }

  &__textarea {
    max-width: 95%;
    min-width: 95%;
    min-height: 7rem;
    max-height: 7rem;
    padding: .5rem;
    margin-top: 0.4rem;
    border: 1px solid grey;
  }

  &__button {
    width: 100%;
    padding: .5rem;
    background-color: black;
    color: #fcfcfc;
    cursor: pointer;
  }
}