.home {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $PlayFairDisplay;
    font-size: 8rem;
    font-weight: 600;
    margin-bottom: 5rem;
    text-align: center;
    animation: title 40s infinite linear;
    animation-delay: 3s;


    @include dp() {
      animation: titleResponsive 40s infinite linear;
      font-size: 12vw;
    }

    @include it() {
      font-size: 18vw;
      line-height: 16vw;
      margin-bottom: 7vw;
    }
  }

  &__subtitle {
    font-family: $PlayFairDisplay;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 8rem;
    animation: subtitle 40s infinite ease-in-out;
    animation-delay: 6s;

    @include dp() {
      animation: subtitleResponsive 40s infinite linear;
      font-size: 7.5vw;
      margin-bottom: 7vw;
    }
  }

  &__ul {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    animation-delay: 2.3s;
    
    @include it() {
      font-size: 3vw;
      flex-flow: column nowrap;
      gap: 1rem;
    }
  }

  &__li {
    margin: 0 1rem;
  }

  &__a {
    text-transform: uppercase;
    font-weight: 800;
    padding: 1.2rem 2rem;
    border-radius: 50%;
    cursor: pointer;
    background: $SecondaryColor;
    box-shadow:  0px 4px 5px #a4a3a3,
                 0px 12px 50px #cacaca;


    &:hover {
      border-color: $MainColor;
      background-color: $MainColor;
      color: $SecondaryColor;
      transform: scale(1.2);
      transition: all .3s;
    }
  }
}

@keyframes title {
  0% {
    translate: 0;
  }
  10%{
    translate: -1rem;
  }
  
  60% {
    translate: 3rem;
  }
  62% {
    translate: 3rem;
  }
  100% {
    translate: 0;
  }
}

@keyframes titleResponsive {
  0% {
    translate: 0;
  }
  10%{
    translate: -2%;
  }
  
  60% {
    translate: 8%;
  }
  62% {
    translate: 8%;
  }
  100% {
    translate: 0;
  }
}

@keyframes subtitle {
  0% {
    translate: 0;
  }
  
  50% {
    translate: 2rem;
  }

  100% {
    translate: 0;
  }
}

@keyframes subtitleResponsive {
  0% {
    translate: 0;
  }
  
  50% {
    translate: -9%;
  }

  100% {
    translate: 0;
  }
}


/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */

 .tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-expand-fwd-1s {
	-webkit-animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation-delay: 1.2s;
}

.text-shadow-drop-br:hover {
	-webkit-animation: text-shadow-drop-br 0.6s both;
	        animation: text-shadow-drop-br 0.6s both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}


/** Animations **/

 /**
----------------------------------------
 animation tracking-in-expand-fwd
----------------------------------------
 **/
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/**
----------------------------------------
 animation fadeInUp
----------------------------------------
**/
 @-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


