/*/// Mixins Flex ///*/

@mixin flex($direction, $cut, $just, $align, $gap) {
  display: flex;
  flex-flow: $direction $cut;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

/*/// Mixins responsive ///*/

@mixin dp($max: 1260px) {
  @media (max-width: $max) {
      @content;
  }
}

@mixin it( $max: 768px) {
  @media (max-width: $max) {
      @content;
  }
}

@mixin mb($max: 480px) {
  @media (max-width: $max) {
      @content;
  }
}

// @mixin ham( $min: 320px, $max: 690px) {
//   @media (min-width: $min) and (max-width: $max) {
//       @content;
//   }
// }

// @mixin mbit( $min: 320px, $max: 768px) {
//   @media (min-width: $min) and (max-width: $max) {
//       @content;
//   }
// }