/* Reseteamos los margin y paddings de todas las etiquetas */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}


/* Evitamos problemas con las imagenes */

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}


/* Reseteamos los enlaces para funcionar como cajas... */

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}


/* ... excepto los que se encuentran en párrafos */

p a {
  display: inline;
}


/* Quitamos los puntos de los <li> */

li {
  list-style-type: none;
}


/* (Opcional) Configuramos anclas suaves */

html {
  scroll-behavior: smooth;
}


/* Desactivamos estilos por defecto de las principales etiquetas de texto */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}


/* Evitamos problemas con los pseudoelementos de quotes */

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}


/* (Opcional) Configuramos el texto que seleccionamos */

::selection {
  background-color: white;
  color: black;
}


/* Nivelamos problemas de tipografías y colocación de formularios */

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
}


/* Reseteamos las tablas */

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Evitamos problemas con los SVG */

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}


/* Configuramos la tipografía para toda la web */

body {
  min-height: 100vh;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  // letter-spacing: 2px;
  line-height: 2rem;
  /* (Opcional) */
  line-height: 1.4em;
  // /* (Opcional) */ hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  // -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  // -moz-osx-font-smoothing: grayscale;
}